body {
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://cn.i.cdn.ti-platform.com/content/1123/showpage/dexter%27s-laboratory/ae/dexterslab-backgroundbottom.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  font-family: "Orbitron", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navBar {
  list-style-type: none;
  width: 100%;
  padding: 0px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: #006277;
  margin-top: -7px;
}

ul.navBar li {
  margin: 20px;
  float: left;
}

ul.navBar img {
  height: 80px;
  padding-top: 30px;
}

ul.navBar li a {
  display: block;
  border-radius: 5px;
  color: #a3cf65;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 20px;
}

ul.navBar li a:hover {
  background-color: white;
  color: #a3cf65;
}

.homeWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeInnerWrapper {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: whitesmoke;
}

.homeImage {
  height: 60%;
}

.categories {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  height: 100%;
  justify-content: flex-start;
  overflow: scroll;
}

.categoriesRow {
  display: flex;
  border: 2px solid rgb(33, 50, 148);
  border-radius: 10px;
  background-color: rgb(223, 220, 215);
  opacity: 0.92;
  margin: 20px;
  padding: 20px;
  height: 150px;
}
